In [5]:
#Importing the Libraries:
import pandas as pd
import numpy as np

In [6]:
#importing and reading the csv files:
customers = pd.read_csv("customers.csv")
orders = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")

In [7]:
#printing the first 5 rows of the files:
print(customers.head(5))
print(orders.head(5))
print(products.head(5))

  Customer_ID           Name         City  Contact_Number  \
0        C001  Tara Krishnan    Panchkula    917193971454
1        C002     Myra Edwin  Bulandshahr      8915420519
2        C003   Jayesh Lanka     Bilaspur      7400208126
3        C004    Tarini Bava  Miryalaguda      7232349928
4        C005     Hiran Kaul     Kottayam      2207644242

                    Email  Gender                                     Address
0       mandrati@chad.org  Female  65/04\nDhawan Marg, Rajpur Sonarpur 590551
1     yshukla@hotmail.com  Female        H.No. 78\nSharaf Ganj\nIndore 928261
2  kavyabarad@hotmail.com    Male        H.No. 53, Krishna Ganj, Dhule-346480
3        vsen@hotmail.com    Male                 145\nSibal, Rourkela-650344
4     hanshkapur@buch.biz    Male      34/168\nSachar Street\nBhatpara 002691
   Order_ID Customer_ID  Product_ID  Quantity  Order_Date Order_Time  \
0         1        C037          67         5  24-02-2023   23:48:13
1         2        C019          41         2  07-11-2023   23:30:18
2         3        C029          67         5  14-07-2023   19:12:03
3         4        C012          14         5  10-07-2023   04:44:29
4         5        C078          58         2  11-02-2023   19:44:48

  Delivery_Date Delivery_Time   Location         Occasion
0    05-03-2023      07:27:10  Bardhaman      Anniversary
1    13-11-2023      07:16:17     Jaipur           Diwali
2    19-07-2023      17:39:00   Bilaspur      Anniversary
3    19-07-2023      06:33:23   Guwahati         Birthday
4    18-02-2023      11:08:52     Rajkot  Valentine's Day
   Product_ID     Product_Name   Category  Price (INR)         Occasion  \
0           1       Magnam Set  Soft Toys         1935    All Occasions
1           2     Voluptas Box     Plants          441  Valentine's Day
2           3        Eius Gift     Colors         1534  Valentine's Day
3           4  Accusantium Set     Sweets         1199           Diwali
4           5       Natus Gift     Colors         1444    All Occasions

                                         Description
0                       Quam numquam iste sunt nemo.
1                             At quaerat animi nemo.
2             Deserunt pariatur mollitia voluptatem.
3  Corporis odio consequatur perferendis repellen...
4  Quis occaecati reprehenderit facere tenetur il...

In [8]:
#merging all the three files in df:
df = orders.merge(customers,on="Customer_ID",how = "left")
df = df.merge(products,on="Product_ID",how = "left")
df.head(5)

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Order_Time,Delivery_Date,Delivery_Time,Location,Occasion_x,...,City,Contact_Number,Email,Gender,Address,Product_Name,Category,Price (INR),Occasion_y,Description
0,1,C037,67,5,24-02-2023,23:48:13,05-03-2023,07:27:10,Bardhaman,Anniversary,...,Davanagere,1972392634,faiyaz10@yahoo.com,Male,"123, Sagar Road\nDharmavaram-048740",Maiores Box,Raksha Bandhan,1374,Anniversary,Earum quos enim minima.
1,2,C019,41,2,07-11-2023,23:30:18,13-11-2023,07:16:17,Jaipur,Diwali,...,Danapur,914513393592,purab20@dhar.com,Male,77\nDass Street\nSasaram-948992,Aut Box,Sweets,1977,Diwali,Ab quisquam nobis ducimus.
2,3,C029,67,5,14-07-2023,19:12:03,19-07-2023,17:39:00,Bilaspur,Anniversary,...,Haridwar,912454360885,lavanya23@yahoo.com,Female,"H.No. 78, Suresh, Hapur-924072",Maiores Box,Raksha Bandhan,1374,Anniversary,Earum quos enim minima.
3,4,C012,14,5,10-07-2023,04:44:29,19-07-2023,06:33:23,Guwahati,Birthday,...,Bilaspur,919921125624,oorjabassi@wali.com,Male,"H.No. 460, Sankar Ganj\nTadipatri 227246",Deserunt Box,Colors,1915,Birthday,Incidunt hic vero esse saepe illum.
4,5,C078,58,2,11-02-2023,19:44:48,18-02-2023,11:08:52,Rajkot,Valentine's Day,...,Bhubaneswar,3005266310,hunar08@hotmail.com,Female,67\nCheema\nBardhaman 968232,Sed Pack,Cake,1492,Valentine's Day,Reiciendis nam omnis vel explicabo amet perfer...

In [9]:
#Getting all the information of the dataset df:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_ID        1000 non-null   int64
 1   Customer_ID     1000 non-null   object
 2   Product_ID      1000 non-null   int64
 3   Quantity        1000 non-null   int64
 4   Order_Date      1000 non-null   object
 5   Order_Time      1000 non-null   object
 6   Delivery_Date   1000 non-null   object
 7   Delivery_Time   1000 non-null   object
 8   Location        1000 non-null   object
 9   Occasion_x      1000 non-null   object
 10  Name            1000 non-null   object
 11  City            1000 non-null   object
 12  Contact_Number  1000 non-null   int64
 13  Email           1000 non-null   object
 14  Gender          1000 non-null   object
 15  Address         1000 non-null   object
 16  Product_Name    1000 non-null   object
 17  Category        1000 non-null   object
 18  Price (INR)     1000 non-null   int64
 19  Occasion_y      1000 non-null   object
 20  Description     1000 non-null   object
dtypes: int64(5), object(16)
memory usage: 164.2+ KB

In [10]:
#finding the number of rows and columns:
df.shape

(1000, 21)

In [11]:
#Statistical Analysis of the dataset:
df.describe()

          Order_ID   Product_ID     Quantity  Contact_Number  Price (INR)
count  1000.000000  1000.000000  1000.000000    1.000000e+03  1000.000000
mean    500.500000    34.693000     3.045000    4.292261e+11  1156.108000
std     288.819436    19.649449     1.429342    4.545710e+11   536.450823
min       1.000000     1.000000     1.000000    1.357458e+08   203.000000
25%     250.750000    18.000000     2.000000    3.859921e+09   743.000000
50%     500.500000    34.000000     3.000000    9.753056e+09  1199.000000
75%     750.250000    51.000000     4.000000    9.155330e+11  1638.000000
max    1000.000000    70.000000     5.000000    9.199211e+11  1977.000000

In [12]:
#Getting the datatypes of df:
df.dtypes

Order_ID           int64
Customer_ID       object
Product_ID         int64
Quantity           int64
Order_Date        object
Order_Time        object
Delivery_Date     object
Delivery_Time     object
Location          object
Occasion_x        object
Name              object
City              object
Contact_Number     int64
Email             object
Gender            object
Address           object
Product_Name      object
Category          object
Price (INR)        int64
Occasion_y        object
Description       object
dtype: object

In [13]:
#Getting the number of unique entries in each column:
df.nunique()

Order_ID          1000
Customer_ID        100
Product_ID          70
Quantity             5
Order_Date         286
Order_Time         994
Delivery_Date      286
Delivery_Time      993
Location           301
Occasion_x           7
Name               100
City                86
Contact_Number     100
Email              100
Gender               2
Address            100
Product_Name        68
Category             7
Price (INR)         70
Occasion_y           7
Description         70
dtype: int64

In [14]:
#Finding the total number of null values in df:
df.isnull().sum()

Order_ID          0
Customer_ID       0
Product_ID        0
Quantity          0
Order_Date        0
Order_Time        0
Delivery_Date     0
Delivery_Time     0
Location          0
Occasion_x        0
Name              0
City              0
Contact_Number    0
Email             0
Gender            0
Address           0
Product_Name      0
Category          0
Price (INR)       0
Occasion_y        0
Description       0
dtype: int64

In [15]:
#Finding the total number of duplicate values in df:
df.duplicated().sum()

np.int64(0)

In [16]:
#Converting the Order_Date column to datetime datatype:
df['Order_Date'] = pd.to_datetime(df['Order_Date'],errors='coerce')

/tmp/ipython-input-757945727.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'],errors='coerce')

In [17]:
#Renaming the column:
df.rename(columns={'Price (INR)':'UnitPrice'},inplace=True)
df.columns

Index(['Order_ID', 'Customer_ID', 'Product_ID', 'Quantity', 'Order_Date',
       'Order_Time', 'Delivery_Date', 'Delivery_Time', 'Location',
       'Occasion_x', 'Name', 'City', 'Contact_Number', 'Email', 'Gender',
       'Address', 'Product_Name', 'Category', 'UnitPrice', 'Occasion_y',
       'Description'],
      dtype='object')

In [18]:
#Checking for invalid values:
if 'Quantity' in df.columns:
  df = df[df['Quantity']>0]

In [19]:
#Checking for invalid values:
if 'UnitPrice' in df.columns:
  df = df[df['UnitPrice']>0]

In [20]:
#Creating a new column of total amount:
if {'Quantity','UnitPrice'}.issubset(df.columns):
  df['TotalAmount'] = df['Quantity']*df['UnitPrice']

In [21]:
#Standardize the text columns:
for col in df.select_dtypes(include='object').columns:
  df[col] = df[col].astype(str).str.strip()
  df[col] = df[col].replace('nan','Unknown')

In [22]:
#Creating new columns:
df['Year'] = df['Order_Date'].dt.year
df['Month'] = df['Order_Date'].dt.month
df['Month_Name'] = df['Order_Date'].dt.month_name()
df['Day'] = df['Order_Date'].dt.date
df['Weekday_Name'] = df['Order_Date'].dt.day_name()

In [23]:
df.shape

(1000, 27)

In [24]:
df.isna().sum()
df.head(5)

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Order_Time,Delivery_Date,Delivery_Time,Location,Occasion_x,...,Category,UnitPrice,Occasion_y,Description,TotalAmount,Year,Month,Month_Name,Day,Weekday_Name
0,1,C037,67,5,2023-02-24,23:48:13,05-03-2023,07:27:10,Bardhaman,Anniversary,...,Raksha Bandhan,1374,Anniversary,Earum quos enim minima.,6870,2023,2,February,2023-02-24,Friday
1,2,C019,41,2,2023-11-07,23:30:18,13-11-2023,07:16:17,Jaipur,Diwali,...,Sweets,1977,Diwali,Ab quisquam nobis ducimus.,3954,2023,11,November,2023-11-07,Tuesday
2,3,C029,67,5,2023-07-14,19:12:03,19-07-2023,17:39:00,Bilaspur,Anniversary,...,Raksha Bandhan,1374,Anniversary,Earum quos enim minima.,6870,2023,7,July,2023-07-14,Friday
3,4,C012,14,5,2023-07-10,04:44:29,19-07-2023,06:33:23,Guwahati,Birthday,...,Colors,1915,Birthday,Incidunt hic vero esse saepe illum.,9575,2023,7,July,2023-07-10,Monday
4,5,C078,58,2,2023-02-11,19:44:48,18-02-2023,11:08:52,Rajkot,Valentine's Day,...,Cake,1492,Valentine's Day,Reiciendis nam omnis vel explicabo amet perfer...,2984,2023,2,February,2023-02-11,Saturday

In [25]:
#Exporting cleaned dataset:
df.to_csv("fnp_cleaned.csv",index=False)

In [26]:
#Calculating Total Revenue:
total_revenue = df['TotalAmount'].sum()

In [27]:
#Calculating total orders:
total_orders = df['Order_ID'].nunique()

In [28]:
#Calculating total customers:
total_customers = df['Customer_ID'].nunique()

In [29]:
#Calculating Average order value:
avg_order_value = total_revenue/total_orders

In [30]:
#Top 10 products by revenue:
top_products = (df.groupby('Product_ID')['TotalAmount']
                  .sum()
                  .sort_values(ascending=False)
                  .head(10))

In [31]:
#Calculating Sales by Category:
sales_by_category = df.groupby('Category')['TotalAmount'].sum().sort_values(ascending=False)

In [32]:
#Calculating monthly trends:
monthly_sales = (df.groupby(['Year','Month_Name'])['TotalAmount']
                   .sum()
                   .reset_index())

In [33]:
#printing all the values:
print("Total Revenue:",total_revenue)
print("Total Orders:",total_orders)
print("Total Customers:",total_customers)
print("Average Order Value:",avg_order_value)
print("\nTop 10 Products:")
print(top_products)
print("\nSales by Category")
print(sales_by_category)
print("\nMonthly Sales Trend:")
print(monthly_sales)

Total Revenue: 3520984
Total Orders: 1000
Total Customers: 100
Average Order Value: 3520.984

Top 10 Products:
Product_ID
1     121905
55    106624
47    101556
14     97665
64     97656
22     96701
35     91385
23     90036
9      89880
42     88944
Name: TotalAmount, dtype: int64

Sales by Category
Category
Colors            1005645
Soft Toys          740831
Sweets             733842
Cake               329862
Raksha Bandhan     297372
Plants             212281
Mugs               201151
Name: TotalAmount, dtype: int64

Monthly Sales Trend:
    Year Month_Name  TotalAmount
0   2023      April       140393
1   2023     August       737389
2   2023   December       149591
3   2023   February       704509
4   2023    January        95468
5   2023       July       135826
6   2023       June       157913
7   2023      March       511823
8   2023        May       150346
9   2023   November       449169
10  2023    October       151619
11  2023  September       136938